@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(tables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: var(--color-neutral-1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

@media print{
    header{
        display: none;
    }
    @page {
        size: A4 landscape; /* "landscape" é o que faz ela deitar */
        margin: 0.5cm;

        /* Você pode usar outros tamanhos, como 'letter' ou 'legal' */
        /* size: letter landscape; */
    }

    /* Oculta elementos desnecessários na impressão (menus, barras laterais, etc.) */
    .menu, .sidebar, button {
        display: none !important;
    }
}