{%extends 'main/base.html' %}
{% load static %}

{% block head %}
    <style>
        .root {
            width: 60%;
        }
    </style>
{% endblock head %}

{% block content %}
<div class="root">
    <div class="title-div">
        <h2>Cadastro de Assinaturas</h2>
    </div>

    <div class="form-button">
        <button type="submit" class="custom-button default" form="form">Salvar</button>
        {% if object.pk %}
            <form action="{% url 'subscription:delete' object.pk %}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir?');">
                {% csrf_token %}
                <button type="submit" class="custom-button danger">Excluir</button>
            </form>
        {% endif %}
        <a href="{% url 'subscription:list' %}"><button type="button" class="custom-button outline">Sair</button></a>
    </div>

    <section class="forms">
    <form method="POST" id="form" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group grid-5">
            <div class="form-item span-2">
                <label for="{{ form.supplier.id_for_label }}">Fornecedor</label>
                {{ form.supplier }}
            </div>

            <div class="form-item span-2">
                <label for="{{ form.service.id_for_label }}">Serviço</label>
                {{ form.service }}
            </div>

            <div class="form-item">
                <label for="{{ form.category.id_for_label }}">Categoria</label>
                {{ form.category }}
            </div>

            <div class="form-item">
                <label for="{{ form.subscription_type.id_for_label }}">Tipo de Assinatura</label>
                {{ form.subscription_type }}
            </div>

            <div class="form-item">
                <label for="{{ form.value.id_for_label }}">Valor R$</label>
                {{ form.value }}
            </div>

            <div class="form-item">
                <label for="{{ form.payment_method.id_for_label }}">Metodo de Pagamento</label>
                {{ form.payment_method }}
            </div>

            <div class="form-item">
                <label for="{{ form.renewal_day.id_for_label }}">Dia de Renovação</label>
                {{ form.renewal_day }}
            </div>

            <div class="form-item">
                <label for="{{ form.payment_frequency.id_for_label }}">Frequencia de Pagamento</label>
                {{ form.payment_frequency }}
            </div>

            <div class="form-item span-5">
                <label for="{{ form.description.id_for_label }}">Descrição</label>
                {{ form.description }}
            </div>

            <div class="form-item">
                <label for="create_at">Data de Assinatura</label>
                <input type="text" name="id_create_at" id="id_create_at" value="{{ object.created_at|date:"d/m/Y" }}" disabled>
            </div>

            <div class="form-item">
                <label for="update_at">Ultima Atualização</label>
                <input type="text" name="update_at" id="update_at" value="{{ object.updated_at|date:"d/m/Y" }}" disabled>
            </div>

            {% if not object.canceled_at %}
                <div class="form-item">
                    <label for="{{ form.canceled_at.id_for_label }}">Data de Cancelamento</label>
                    {{ form.canceled_at }}
                </div>
            {% endif %}

            {% if object.canceled_at %}
                <div class="form-item">
                    <label for="canceled_at">Data de Assinatura</label>
                    <input type="text" name="canceled_at" id="canceled_at" value="{{ object.created_at|date:"d/m/Y" }}" disabled>
                </div>
            {% endif%}

            <div class="form-item span-5">
                <label for="{{ form.status.id_for_label }}">Status</label>
                {{ form.status }}
            </div>
        </div>
    </form>
    </section>

    {% if object.pk %}
    <section class="tabela-container">
        <table class="table">
            <caption>
            </caption>

            <colgroup>
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 25%;">
                <col style="width: 10%;">
                <col style="width: 15%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
            </colgroup>

            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data de Pagamento</th>
                    <th scope="col">Data de Vencimento</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody>
                {% for transaction in transactions %}
                    <tr onclick="window.location='{% url 'transaction:update' transaction.pk %}';" style='cursor: pointer;'>
                        <td>{{ transaction.pk }}</td>
                        <td>
                            {% if transaction.type == 'E' %}
                                <div class="badge badge--success">Entrada</div>
                            {% elif transaction.type == 'S' %}
                                <div class="badge badge--danger">Saida</div>
                            {% else %}
                                <div class="badge">Indefinido</div>
                            {% endif %}
                        </td>
                        <td>{{ transaction.description }}</td>
                        <td>R$ {{ transaction.value }}</td>
                        <td>{{ transaction.payment_date|date:"d/m/Y" }}</td>
                        <td>{{ transaction.due_date|date:"d/m/Y" }}</td>
                        <td>
                            {% if transaction.status == 'P' %}
                                Pendente
                            {% elif transaction.status == 'Q' %}
                                Quitado
                            {% elif transaction.status == 'V' %}
                                Vencido
                            {% elif transaction.status == 'C' %}
                                Cancelado
                            {% else %}
                                Indefinido
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">Não há registros para serem exibidos</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page=1"><button class="custom-button outline"><i class="fa-solid fa-angles-left"></i></button></a>
                    <a href="?page={{ page_obj.previous_page_number }}"><button class="custom-button outline"><i class="fa-solid fa-chevron-left"></i></button></i></a>
                {% endif %}
                    <p>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</p>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><button class="custom-button outline"><i class="fa-solid fa-chevron-right"></i></button></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"><button class="custom-button outline"><i class="fa-solid fa-angles-right"></i></button></a>
                {% endif %}
            </div>
        {% endif %}
    </section>
    {% endif %}
</div>
{% endblock %}


