{%extends 'main.html' %}
{% load static %}


{% block title %}Histórico - {{ subscription.service }}{% endblock %}

{% block content %}
    <h1>Histórico - {{ subscription.service }}</h1>
    <div class="button-div">
        <a href="{% url 'subscriptions_list' %}"><button type="reset" class="button-exit"><i class="fa-solid fa-arrow-up-right-from-square"></i> Sair</button></a>
    </div>
    <div class="tabela-container">
        <table class="table">
            <caption>
            </caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Serviço</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% if subscription_logs %}
                    {% for subscription_log in subscription_logs %}
                        <tr>
                            <td>{{ subscription_log.pk }}</td>
                            <td>{{ subscription_log.subscription }}</td>
                            <td>{{ subscription_log.created_at }}</td>
                            <td>{{ subscription_log.action }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Não há registros para serem exibidos</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
{% endblock %}