{%extends 'main/reports.html' %}
{% load static %}

{% block content %}
<div class="root">
    <section class="title-div">
        <h1>Assinaturas</h1>
    </section>

    <section class="tabela-container">
        <table class="table">
            <caption>
            </caption>

            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Serviço</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Dia Renov.</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Freq.</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>

            <tbody>
                {% for subscription in subscriptions %}
                    <tr>
                        <td>{{ subscription.pk }}</td>
                        <td>{{ subscription.service }}</td>
                        <td>{{ subscription.supplier }}</td>
                        <td>R$ {{ subscription.value }}</td>
                        <td>{{ subscription.renewal_day }}</td>
                        <td>{{ subscription.category }}</td>
                        <td>
                            {% if subscription.payment_frequency == 'M' %}Mensal{% elif subscription.payment_frequency == 'T' %}Trimestral{% elif subscription.payment_frequency == 'A' %}Anual{% else %}Indefinido{% endif %}
                        </td>
                        <td>
                            {% if subscription.status == 'A' %}
                                <div class="badge badge--success">Ativo</div>
                            {% elif subscription.status == 'C' %}
                                <div class="badge badge--danger">Cancelado</div>
                            {% else %}
                                <div class="badge">Indefinido</div>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">Não há registros para serem exibidos</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
</div>
{% endblock %}
