header{
    background-color: var(--color-neutral-8);
    box-shadow: 100px var(--color-neutral-8);
    padding: 12px 4%;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        .logo{
            width: auto;
            font-size: 1.3rem;
            color: var(--color-neutral-1);
        }

        ul{
            display: none;
            list-style: none;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            position: absolute;
            top: 50px;
            background-color: var(--color-neutral-8);
            left: 0;
            padding: 1rem;

            &.show{
                display: flex;
            }

            li{
                text-align: center;

                a{
                    color: var(--color-neutral-1);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    &:hover{
                        color: var(--color-neutral-1);
                        border-bottom: solid 2px var(--color-neutral-1);
                    }
                }
            }

            .active{
                border-bottom: solid 2px var(--color-neutral-1);
            }

        }

        .btn-default{
            display: none;
        }
    }
}

@media(min-width:769px){
    header{
        .navbar{
            .logo{
                font-size: 1.5rem;
            }

            .btn-mobile{
                display: none;

            }

            ul{
                display: flex;
                flex-direction: row;
                position: static;
                gap: 1rem;
                width: auto;
                padding: 0;
                li{
                    a{
                        padding: 4px 10px;
                        border-radius: 8px;

                        &:hover{
                            background-color: var(--color-neutral-1);
                            color: var(--color-primary-0);
                            border: none;
                        }
                    }
                }
            }

            .btn-default{
                display: block;
            }

            .navbar-user{
                a#user_name{
                    background-color: var(--color-neutral-1);
                    color: var(--color-primary-0);
                    border: none;
                }
                .user-item.dropdown {
                    position: relative;
                }

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    margin-top: 5px;
                    border-radius: 8px;
                    min-width: 180px;
                    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
                    z-index: 10;
                    padding: 8px 6px;
                }

                .dropdown-menu li a {
                    display: block;
                    padding: 6px 16px;
                    color: white;
                    text-decoration: none;
                    font-size: 14px;
                }

                .dropdown-menu li a:hover {
                    background-color: white;
                    color: var(--color-neutral-8);
                }

                .user-item.dropdown:hover > .dropdown-menu {
                    display: block;
                }
            }
        }
    }
}