:root {

/* Neutros "Tech" (Tons de Verde) */
--color-neutral-0: #ffffff;     /* Branco puro */
--color-neutral-1: #F1F9F6;     /* Quase branco esverdeado (fundo de seções claras) */
--color-neutral-2: #E2F0E9;     /* Verde bem claro (texto principal em fundo escuro) */
--color-neutral-3: #CBDEDA;     /* Verde claro (bordas claras, divisórias) */
--color-neutral-4: #94B8A3;     /* Verde médio (texto secundário em fundo escuro) */
--color-neutral-5: #648B74;     /* Verde (ícones, texto de placeholder) */
--color-neutral-6: #335541;     /* Verde escuro (texto principal em fundo claro) */
--color-neutral-7: #1E3B29;     /* Verde-musgo (fundo de cards em modo claro) */
--color-neutral-8: #0F2A17;     /* Quase preto esverdeado (ótimo substituto para o azul escuro) */
--color-neutral-9: #000000;     /* Preto puro */

/* Primário: Verde Django */
--color-primary-1: #092E20; /* Fundo principal escuro (Verde Django escuro) */
--color-primary-2: #0C4B33; /* Fundo de 'cards', navbar (Verde da marca Django) */
--color-primary-3: #1A6746; /* Bordas, linhas, elementos sutis (Verde um pouco mais claro) */

    /* Secundário: Amarelo para Destaque (Mantido) */
    --color-secundary-1: #f5c518; /* Botões, links importantes, ícones */

    /* Acento: Verde (Antigo Primário) */
    --color-accent-1: #34815d; /* Para tags, badges, ou detalhes específicos */

    /* Cores de Texto */
    --color-text-light: #d4c3b6;  /* Seu neutral-2, ótimo para texto principal em fundo escuro */
    --color-text-dark: #1e0e05;   /* Seu neutral-8, para texto em fundo claro */
    --color-text-highlight: #f5c518; /* Seu secundário, para títulos */


    --blue: #0063de;
    --indigo: #6610f2;
    --purple: #4a0074;
    --pink: #e83e8c;
    --red: #cc4400;
    --orange: #cc4400;
    --yellow: #ffc107;
    --green: #008750;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #0063de;
    --secondary: #666e7a;

    --light: #f6f6f7;
    --dark: #40444d;
    --black: #000;
    --dark-blue:     #001f75;
    --border-color:  #555;
    --text-light:    #fff;
    --text-dark:     #333;
    --white: #ffffff;

    /* Cor padrão sucesso */
    --success: #065f46;
    --success-background: #d1fae5;
    --success-border: #a7f3d0;

    /* Cor padrão alerta */
    --warning: #92400e;
    --warning-background: #fef3c7;
    --warning-border: #fde68a;

    /* Cor padrão perigo */
    --danger: #991b1b;
    --danger-background: #fee2e2;
    --danger-border: #fecaca;

    /* Cor padrão neutro */
    --neutral: #64748b;
    --neutral-background: #6366f10f;
    --neutral-border: #6366f12e;
}