<div class="filter-group">
    <div class="filter-item">
        <label for="f_id">ID</label>
        <input type="number" name="f_id" value="{{ f_id }}" id="f_id" min="1" placeholder="ID">
    </div>

    <div class="filter-item">
        <label for="f_service">Serviço</label>
        <input type="text" name="f_service" value="{% if f_service %}{{ f_service }}{% endif %}" id="f_service" placeholder="Serviço">
    </div>

    {% if categories %}
        <div class="filter-item">
            <label for="f_category">Categoria</label>
            <select name="f_category" id="f_category">
                <option value="" selected>Selecione</option>
                {% for category in categories %}
                    <option value="{{ category.pk }}" {% if f_category == category.pk|stringformat:"s" %}selected{% endif %}>{{ category.pk }} - {{ category.category }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    <div class="filter-item">
        <label for="f_status">Situação</label>
        <select name="f_status" id="f_status">
            <option value="" selected>Selecione</option>
            <option value="A" {% if f_status == 'A' %}selected{% endif %}>Ativo</option>
            <option value="C" {% if f_status == 'C' %}selected{% endif %}>Cancelado</option>
        </select>
    </div>
</div>