{% extends "main.html" %}
{% load static %}

{% block head %}
    <style>
        .root {
            width: 60%;
        }
    </style>
{% endblock head %}

{% block content%}
<div class="root">
    <div class="title-div">
        <h2>Cadastro de Categoria</h2>
    </div>
    <div class="form-button">
        <button type="submit" class="custom-button default" form="form" title="Salvar">Salvar</button>
        {% if object.pk %}
            <form action="{% url 'subscription:category_delete' object.pk %}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir?');">
                {% csrf_token %}
                <button type="submit" class="custom-button danger" title="Excluir">Excluir</button>
            </form>
        {% endif %}
        <a href="{% url 'subscription:category_list' %}"><button type="button" class="custom-button outline">Sair</button></a>
    </div>

    <section class="forms">
        <form method='POST' id="form" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="form-group">
                <div class="form-item">
                    <label for="{{ form.category.id_for_label }}">Categoria</label>
                    {{ form.category }}
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}