{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <title>Django Finance</title>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Header-->
    <header>
        <nav class="navbar">
            <a href="/" class="logo">Django <strong>Finance</strong></a>

            <button class="btn btn-mobile">
                <i class="fa-solid fa-bars"></i>
            </button>

            <ul id="nav-links">

                <li>
                    <a href="{% url 'dashboard:home' %}"><i class="fa-solid fa-house"></i> Dashboard</a>
                </li>

                {% if perms.movements.view_transaction %}
                    <li>
                        <a href="{% url 'transaction:list' %}"><i class="fa-solid fa-arrow-right-arrow-left"></i> Transações</a>
                    </li>
                {% endif %}

                {% if perms.registrations.view_subscription %}
                    <li>
                        <a href="{% url 'subscription:list' %}"><i class="fa-solid fa-arrow-rotate-right"></i> Assinaturas</a>
                    </li>
                {% endif %}

                <li>
                    <a href="#"><i class="fa-solid fa-building-columns"></i> Empréstimos</a>
                </li>

                <li>
                    <a href="{% url 'reports:home' %}"><i class="fa-solid fa-chart-line"></i> Relatórios</a>
                </li>

            </ul>

            <ul class="navbar-user">
                <li class="user-item dropdown">
                    <a href="#" id="user_name"><i class="fa-regular fa-user"></i>
                        {{ user.get_full_name|default:user.username }}
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user:list' %}">Usuários</a></li>
                        <li><a href="">Configurações</a></li>
                        <li><a href="{% url 'login:logout' %}">Sair</a></li>
                    </ul>
                </li>
            </ul>

        </nav>
    </header>

    <!-- Main -->
    <main id="container">
        {% if messages %}
            <div id="messages-container">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        <span class="text">{{ message }}</span>
                        <span class="close-btn" onclick="this.parentElement.remove()">×</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer
    <footer>
        &copy; 2025 DjangoFinace. Todos os direitos reservados.
    </footer>
    -->
    <script src="{% static 'main/scripts/base.js' %}"></script>
</body>
</html>