{%extends 'main.html' %}
{% load static %}

{% block head %}
    <script>
        // Adiciona um listener para quando a impressão terminar
        window.addEventListener("afterprint", (event) => {
            window.close();
        });

        // Inicia a impressão assim que a página carregar
        window.onload = (event) => {
            window.print();
        };
    </script>
{% endblock head %}

{% block content %}
<div class="root">
    <section class="title-div">
        <h1>Transações</h1>
    </section>

    <section class="tabela-container">
        <table class="table">
            <caption>
            </caption>

            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data de Pagamento</th>
                    <th scope="col">Pago</th>
                </tr>
            </thead>

            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.pk }}</td>
                        <td>
                            {% if transaction.type == 'E' %}
                                <div class="badge badge--success">Entrada</div>
                            {% elif transaction.type == 'S' %}
                                <div class="badge badge--danger">Saida</div>
                            {% else %}
                                <div class="badge">Indefinido</div>
                            {% endif %}
                        </td>
                        <td>{{ transaction.description }}</td>
                        <td>R$ {{ transaction.value }}</td>
                        <td>{{ transaction.payment_date|date:"d/m/Y" }}</td>
                        <td>
                            {% if transaction.paid %}
                                Pago
                            {% else %}
                                Pendente
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">Não há registros</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
