@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('nav.css');
@import url(variables.css);
@import url(titles.css);
@import url(tables.css);
@import url(filters.css);
@import url(forms.css);
@import url(buttons.css);
@import url(massages.css);
@import url(badge.css);
@import url(tab.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: var(--body-bg);
    color: var(--text);
    display: grid;
    grid-template-columns: auto 1fr;

    main{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        overflow-x: hidden;
    }

    .root{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 10px;
        padding: 10px;
        background-color: var(--container-bg);
        border-radius: 10px;
        border: 1px solid var(--container-border);
    }
}

#theme-toggle{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;

    svg{
        fill: var(--theme);
    }

}

p{
    color: var(--text-color);
}

.btn-mobile{
    font-size: 1.5rem;
    color: var(--color-neutral-0);
}

.btn-default{
    background-color: var(--color-neutral-1);
    color: var(--color-neutral-8);

    &:hover{
        background-color: var(--color-neutral-2);
        transition: backgroun-color .3s ease;
    }
}

a.btn{
    text-decoration: none;
}

/* styles.css */

select {
  max-height: 200px;
  overflow-y: auto;
}

