.forms{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    background-color: var(--container-bg);
    transition: transform 0.2s ease;

    h3{
        color: var(--label-color);
        text-transform: uppercase;
        font-size: .8rem;
        margin: 10px 0;
    }
}

.form-input{
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

label{
    color: var(--label-color);
    font-size: 12px;
    font-weight: 500;
}

input, textarea, select{
    background: var(--input-bg);
    border: 1px solid var(--input-border)   ;
    border-radius: 6px;
    outline: none;
    padding: 6px 10px;
    width: 100%;
    margin: 5px 0;
    color: var(--input-text);
}

::placeholder {
  color: var(--placeholder-color); /* Escolha a cor desejada (aqui usei um tom de laranja avermelhado) */
  opacity: 1; /* Garante que a cor não seja afetada pelo padrão de opacidade do Firefox */
}


input:focus, textarea:focus, select:focus{
    border-color: var(--input-focus-border);
    box-shadow:0 0 0 3px rgb(34, 96, 75, 0.3);
}

input[type="checkbox"] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #3b82f6;
    border-color: #3b82f6;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 2px;
}

.form-item{
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}

.form-item label, select, input{
    width: 100%;
    font-size: 0.8rem;
}

.form-button {
    width: 100%;
    padding: 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}


/* Display Grid Padrão*/
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.grid-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-7{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-8{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid-9{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.span-2{
    grid-column: span 2;
}

.span-3{
    grid-column: span 3;
}

.span-4{
    grid-column: span 4;
}

.span-5{
    grid-column: span 5;
}

.span-6{
    grid-column: span 6;
}

.span-7{
    grid-column: span 7;
}

.span-8{
    grid-column: span 8;
}

.span-9{
    grid-column: span 9;
}
